body {
	font-family: Arial, sans-serif;
	margin-top: 40px;
	gap: 30px;
	/* padding: 20px; */
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* max-height: 100vh; */
	/* height: 100%; */
}
.container {
	/* margin-top: 100px; */
	width: 70%;
	/* max-width: 100%;
	min-width: 50%; */
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
	grid-template-columns: 1fr;

}
.validation-message {
	color: red;
	font-size: 12px;
	margin-top: 4px;
}